---
import { Icon }  from "astro-icon/components";
import Picture from "astro/components/Picture.astro";
import Astroman from "assets/astroman.png";
import Test from 'assets/2.png'
---
<div class="pt-24 pb-12 mt-16 md:mt-0">
  <h2 class="text-4xl lg:text-5xl font-bold lg:tracking-tight">
    Expert Strategy, Seamless Execution
  </h2>
  <p class="text-lg mt-4 text-slate-600">
    Backed by proven tactics and world class creative team, we craft strategies tailored to your unique goals and execute them with precision.</div>

  <!-- 1st Grid -->
<div class="grid grid-cols-2 grid-rows-2 gap-8">
  <!-- 1st card -->
  <div class="bg-gray-50 shadow-lg text-center p-8 gap-8 mt-16 md:mt-0 rounded-tl-3xl rounded-br-3xl">
    <p class="p-2 font-bold bg-green-100 rounded-3xl text-center inline-block align-center padding-left-2">
      Verfied
    </p>
    <h2 class="pt-2 text-4xl lg:text-4xl xl:text-4xl font-semibold lg:tracking-tight xl:tracking-tighter">
      Proven Track Record
    </h2>
    <p class="pt-2 text-lg lg:text-lg xl:text-lg lg:tracking-tight xl:tracking-tighter">
      Our results speak for themselves. With a portfolio of satisfied clients and successful campaigns, we’ve built a reputation for delivering what we promise—and more.    </p>
  </div>
<!-- 2nd card -->
  <div class="bg-gray-50 shadow-lg text-center p-8 mt-16 rounded-tl-3xl rounded-br-3xl md:mt-0"> 
    <p class="p-2 font-bold bg-green-100 rounded-3xl text-center inline-block align-center padding-left-2">
      Trust
    </p>
    <h2 class="pt-2 text-4xl lg:text-4xl xl:text-4xl font-semibold lg:tracking-tight xl:tracking-tighter">
      Full Transparency
    </h2>
    <p class="pt-2 text-lg lg:text-lg xl:text-lg lg:tracking-tight xl:tracking-tighter">
      We believe in complete honesty. You’ll always know where your investment is going and how it’s performing. With detailed reporting and regular updates, you’ll never be left guessing about the results.    </p>
  </div>
<!-- 3rd card -->
  <div class="bg-gray-50 shadow-lg text-center p-8 mt-16 rounded-tl-3xl rounded-br-3xl md:mt-0"> 
    <p class="p-2 font-bold bg-green-100 rounded-3xl text-center inline-block align-center padding-left-2">
      Customization
    </p>
    <h2 class="pt-2 text-4xl lg:text-4xl xl:text-4xl font-semibold lg:tracking-tight xl:tracking-tighter">
      Tailored Strategies
    </h2>
    <p class="pt-2 text-lg lg:text-lg xl:text-lg lg:tracking-tight xl:tracking-tighter">
      No two businesses are alike, and your campaigns shouldn’t be either. We craft customized strategies based on deep research, data-driven insights, and your specific goals. From ideation to execution, we leave nothing to chance, ensuring your message hits the mark every time.    </p>
  </div>
<!-- 4th card -->
  <div class="bg-gray-50 shadow-lg text-center p-8 mt-16 rounded-tl-3xl rounded-br-3xl md:mt-0">
    <p class="p-2 font-bold bg-green-100 rounded-3xl text-center inline-block align-center padding-left-2">
      Improved ROI
    </p>
    <h2 class="pt-2 text-4xl lg:text-4xl xl:text-4xl font-semibold lg:tracking-tight xl:tracking-tighter">
      Focus on LTV
    </h2>
    <p class="pt-2 text-lg lg:text-lg xl:text-lg lg:tracking-tight xl:tracking-tighter">
      Our approach isn’t just about attracting attention—it’s about creating meaningful connections. By understanding your audience’s needs and motivations, we craft campaigns that convert first-time visitors into lifelong customers. With us, every interaction builds trust and loyalty.    </p>
  </div>
</div>
