
---
const sales = [
  {
    title: "case 1 ",
    description:
      "Our team will get to know the processes in which you wish to automate. FVM will then be able to give recommendations on which tasks to automate to make your business more efficient.",
    icon: "bx:dice-1",
  },
  {
    title: "Solution Design",
    description:
      "FVM will design prototypes for the procedures agreed upon in the discovery stage. Once approved FVM will make final edits and dashboards.",
    icon: "bx:dice-2",
  },
  {
    title: "Implementation & Optimization",
    description:
      "We will fully implement the solutions into your business. If any tweaks and edits need to be made, they will be finalized in this stage.",
    icon: "bx:dice-3",
  },
];
---

<div class="mt-16 md:mt-0">
  <h2 class="text-5xl lg:text-5xl font-bold lg:tracking-tight">
    The Easiest Way to Grow Your Business is with <span class="text-yellow-500">Content.</span>
  </h2>

</div>

<!--Card -->
<div class="pt-4">
  
  <div class="bg-gray-50 shadow-lg text-center p-8 gap-8 mt-4 md:mt-0 rounded-tl-3xl rounded-br-3xl "> 
   
    <h2 class="text-xl lg:text-4xl xl:text-4xl font-semibold lg:tracking-tight xl:tracking-tighter">
     "I don’t know how to make content."
    </h2>
  <p class="pt-2 text-2xl lg:text-lg xl:text-lg lg:tracking-tight xl:tracking-tighter">
    We teach you step-by-step, even if you’ve never posted before.  </div>
</div> 


<!--Card -->
<div class="pt-4">
  <div class="bg-gray-50 shadow-lg text-center p-8 gap-8 mt-4 md:mt-0 rounded-tl-3xl rounded-br-3xl"> 
    
    <h2 class="text-xl lg:text-4xl xl:text-4xl font-semibold lg:tracking-tight xl:tracking-tighter">
      "I don't have the time" </h2>
  <p class="pt-2 text-2xl lg:text-lg xl:text-lg lg:tracking-tight xl:tracking-tighter">
Our strategies, program and formula takes less than an hour a week.  </div>
</div> 


<!--Card -->
<!--Card idk maybe later  
  
<div class="pt-12">
    <div class="bg-gray-50 shadow-lg text-center p-8 gap-8 mt-16 md:mt-0 rounded-tl-3xl rounded-br-3xl"> 
      <h2 class="text-4xl lg:text-4xl xl:text-4xl font-semibold lg:tracking-tight xl:tracking-tighter">
        Content That Speaks Your Brand’s Language  </h2>
    <p class="text-lg lg:text-lg xl:text-lg lg:tracking-tight xl:tracking-tighter">
      Your voice, your vision, amplified. We specialize in creating video content that captures your brand’s essence and tells your story like no one else can. Each piece reflects your unique identity while connecting directly with your audience.</p>
    </div>
  </div>

-->

<!--Card -->

<div class="pt-4">
  <div class="bg-gray-50 shadow-lg text-center p-8 gap-8 mt-4 md:mt-0 rounded-tl-3xl rounded-br-3xl"> 
    
    <h2 class="text-xl lg:text-4xl xl:text-4xl font-semibold lg:tracking-tight xl:tracking-tighter">
      "This wont work for my business." </h2>
  <p class="pt-2 text-2xl lg:text-lg xl:text-lg lg:tracking-tight xl:tracking-tighter">
    We've worked with businesses in over 15+ industries. It always works.
  </p>  
  </div>
</div>


</div>



 