---
import { Picture } from "astro:assets";
import heroImage from "@assets/contentcreationhero.png"
import Link from "@components/ui/link.astro";
import { Icon } from "astro-icon/components";
import contentcoachingvideo from "@assets/videos/contentcoachingvideo.mp4"
---

<main
  class="grid lg:grid-cols-2 place-items-center pt-16 md:pt-12 md:pb-24">
  <div class="py-6 md:order-1 hidden md:block">
    <video 
      src={contentcoachingvideo}
      alt="Forever Viral Media Video Content"
      widths={[200, 400, 600]}
      sizes="(max-width: 800px) 100vw, 620px"
      loading="eager"
      format="avif"
      autoplay
Loop 
Muted
      />
    </div>
  </div>
  <div>
    <h1
      class="text-5xl lg:text-5xl xl:text-7xl font-bold lg:tracking-tight xl:tracking-tighter">
     Turn your business into a viral brand. </h1>
     <p class="text-2xl font-semibold text-yellow-500">Even If You Have No Experience</p>
    
 
  </div>
</main>
