---
// @ts-ignore
import { Icon } from "astro-icon/components";

const features = [
  {
    title: "Learn how to create content that gets views & sales",
    description: "",
    icon: "bx:check",
  },
  {
    title: "Steal our proven viral formulas that work for any industry",
    description:
      "",
    icon: "bx:check",
  },
  {
    title: "Get expert feedback on your content so you don’t waste time",
    description:
      "",
    icon: "bx:check",
  },
  
];
---

<div class="mt-16 md:mt-0">
  <h2 class="text-4xl lg:text-4xl text-slate-600 font-bold lg:tracking-tight">
    Get Coached by the Top 1% Performers in Content for Businesses.
  </h2>
  <p class="text-xl font-bold mt-4 text-yellow-500">
    1,000+ Videos with more than a million views.
  </p>
</div>
<div class="grid sm:grid-cols-2 md:grid-cols-3 mt-16 gap-16">
  {
    features.map((item) => (
      <div class="flex gap-4 items-start">
        <div class="mt-1 bg-yellow-500 rounded-full  p-2 w-8 h-8 shrink-0">
          <Icon class="text-white" name={item.icon} />
        </div>
        <div>
          <h3 class="font-semibold text-2xl">{item.title}</h3>{" "}
          <p class="text-slate-500 mt-2 leading-relaxed">{item.description}</p>
        </div>
      </div>
    ))
  }
</div>

