---
import Contactform from "@components/contactform.astro";
import Container from "@components/container.astro";
import Sectionhead from "@components/sectionhead.astro";
import Layout from "@layouts/Layout.astro";
import { Icon } from "astro-icon/components";
import  Link  from "@components/ui/link.astro";
---
<Layout title="Careers">
  <Container>
    <div class="">
        <Sectionhead>
            <Fragment slot="title">We're Hiring!</Fragment>
            <Fragment slot="desc">Updated February 2, 2025

              <h2 class="text-2xl font-bold p-4">Sales</h2>
              <div  class="bg-white mb-6 pt-4 pl-2 pr-2 pb-4 rounded-lg ml-2 mr-2 shadow-lg hover:shadow-2xl border-2 border-black">
                <h3 class="text-xl font-bold p-6">
                 Sales Consultant
                </h3>
                <p class="p-1 ml-3 font-bold rounded-3xl padding-left-2">
                  Remote | United States
                </p>
                
            
                <p class="text-sm p-6">
                  You will be responsible for nurturing new clients into the growth program. You will be responsible for the initial contact, and the first steps of the onboarding process, ensurring customer respect, satisfaction and retention.
                </p>

              <Link
              href="/careers/apply"

              target="_blank"
              class="flex gap-1 font-bold items-center justify-center "
              rel="noopener">
              <svg xmlns="http://www.w3.org/2000/svg" width="1em" height="1em" viewBox="0 0 24 24"><path fill="currentColor" d="M17 22v-3h-3v-2h3v-3h2v3h3v2h-3v3zM3 20V4h3V2h2v2h6V2h2v2h3v8.1q-.5-.075-1-.075t-1 .075V10H5v8h7q0 .5.075 1t.275 1z"></path></svg>

              Apply
              </Link>
              </div>
             
              
              <div  class="bg-white mb-6 pt-4 pl-2 pr-2 pb-4 rounded-lg ml-2 mr-2 shadow-lg hover:shadow-2xl border-2 border-black">
                <h3 class="text-xl font-bold p-6">
                 Sales Consultant
                </h3>
                <p class="p-1 ml-3 font-bold rounded-3xl padding-left-2">
                  Remote | Saudi Arabia / MENA 
                </p>
                
            
                <p class="text-sm p-6">
                  You will be responsible for nurturing new clients into the growth program. You will be responsible for the initial contact, and the first steps of the onboarding process, ensurring customer respect, satisfaction and retention.
                </p>

              <Link
              href="/careers/apply"

              target="_blank"
              class="flex gap-1 font-bold items-center justify-center "
              rel="noopener">
              <svg xmlns="http://www.w3.org/2000/svg" width="1em" height="1em" viewBox="0 0 24 24"><path fill="currentColor" d="M17 22v-3h-3v-2h3v-3h2v3h3v2h-3v3zM3 20V4h3V2h2v2h6V2h2v2h3v8.1q-.5-.075-1-.075t-1 .075V10H5v8h7q0 .5.075 1t.275 1z"></path></svg>

              Apply
              </Link>
              </div>

              <div  class="bg-white mb-6 pt-4 pl-2 pr-2 pb-4 rounded-lg ml-2 mr-2 shadow-lg hover:shadow-2xl border-2 border-black">
                <h3 class="text-xl font-bold p-6">
                 Sales Consultant
                </h3>
                <p class="p-1 ml-3 font-bold rounded-3xl padding-left-2">
                  Remote | Dubai / MENA 
                </p>
                
            
                <p class="text-sm p-6">
                  You will be responsible for nurturing new clients into the growth program. You will be responsible for the initial contact, and the first steps of the onboarding process, ensurring customer respect, satisfaction and retention.
                </p>

              <Link
              href="/careers/apply"

              target="_blank"
              class="flex gap-1 font-bold items-center justify-center "
              rel="noopener">
              <svg xmlns="http://www.w3.org/2000/svg" width="1em" height="1em" viewBox="0 0 24 24"><path fill="currentColor" d="M17 22v-3h-3v-2h3v-3h2v3h3v2h-3v3zM3 20V4h3V2h2v2h6V2h2v2h3v8.1q-.5-.075-1-.075t-1 .075V10H5v8h7q0 .5.075 1t.275 1z"></path></svg>

              Apply
              </Link>
              </div>





                <!--Marketing  -->
              <h2 class="text-2xl font-bold p-4"> Marketing </h2>
              <div  class="bg-white mb-6 pt-4 pl-2 pr-2 pb-4 rounded-lg ml-2 mr-2 shadow-lg hover:shadow-2xl border-2 border-black">
                <h3 class="text-xl font-bold p-6">
                  Videographer
                </h3>
                <p class="p-1 ml-3 font-bold rounded-3xl padding-left-2">
                  Atlanta, Georgia |
                  Detroit, Michigan |
                  Houston, Texas |
                  Chicago, Illinois |
                  El Paso, Texas |
                  Jersey City, New Jersey |
                  New Orleans, Louisiana
                </p>
                
            
                <p class="text-sm p-6">
                  You will be responsible for capturing specific content based upon shot lists given to you by the content team. You will be responsible for ensuring that the content is captured in a timely manner, and that the content is of the highest quality. You must be able to carefully follow directions, and be able to work in a fast paced environment.
                </p>

              <Link
              href="/careers/apply"

              target="_blank"
              class="flex gap-1 font-bold items-center justify-center "
              rel="noopener">
              <svg xmlns="http://www.w3.org/2000/svg" width="1em" height="1em" viewBox="0 0 24 24"><path fill="currentColor" d="M17 22v-3h-3v-2h3v-3h2v3h3v2h-3v3zM3 20V4h3V2h2v2h6V2h2v2h3v8.1q-.5-.075-1-.075t-1 .075V10H5v8h7q0 .5.075 1t.275 1z"></path></svg>

              Apply
              </Link>
              </div>
              <!-- Client Success  -->
              <h2 class="text-2xl font-bold p-4"> Client Success </h2>
              <div  class="bg-white mb-6 pt-4 pl-2 pr-2 pb-4 rounded-lg ml-2 mr-2 shadow-lg hover:shadow-2xl border-2 border-black">
                <h3 class="text-xl font-bold p-6">
                  Account Manager 
                </h3>
                <p class="p-1 ml-3 font-bold rounded-3xl padding-left-2">
                Remote | USA
                </p>
                
            
                <p class="text-sm p-6">
                  We are seeking a dedicated and results-driven Account Manager to join our team. In this role, you will be the main point of contact for our clients, building and maintaining strong relationships to ensure their success with our services. You will work closely with clients to understand their needs, address inquiries, and ensure the timely delivery of solutions.
                </p>

              <Link
              href="/careers/apply"

              target="_blank"
              class="flex gap-1 font-bold items-center justify-center "
              rel="noopener">
              <svg xmlns="http://www.w3.org/2000/svg" width="1em" height="1em" viewBox="0 0 24 24"><path fill="currentColor" d="M17 22v-3h-3v-2h3v-3h2v3h3v2h-3v3zM3 20V4h3V2h2v2h6V2h2v2h3v8.1q-.5-.075-1-.075t-1 .075V10H5v8h7q0 .5.075 1t.275 1z"></path></svg>

              Apply
              </Link>
              </div>
            </Fragment>
    

    </div>
  </Container>
</Layout>