---
import Contactform from "@components/contactform.astro";
import Container from "@components/container.astro";
import Sectionhead from "@components/sectionhead.astro";
import Layout from "@layouts/Layout.astro";
import { Icon } from "astro-icon/components";
---
<Layout title="DMCA Policy">
  <Container>
    <div class="">
        <Sectionhead>
            <Fragment slot="title">DMCA Policy</Fragment>
            <Fragment slot="desc">Updated February 2, 2025
              <p class="text-sm text-slate-700 p-4">At Forever Viral Media, we respect intellectual property rights and comply with the Digital Millennium Copyright Act ("DMCA") and other applicable copyright laws. This DMCA Policy explains how we handle claims of copyright infringement on our website or related services.</p>

              <h2 class="text-sm text-slate-700 p-4">1. Copyright Infringement Notification</h2>
              <p class="text-sm text-slate-700 p-4">If you believe that your copyrighted work has been copied in a way that constitutes copyright infringement, please provide our designated copyright agent with a written notice that includes the following:</p>
              <ul class="text-sm text-slate-700 p-4">
                  <li>A description of the copyrighted work that you claim has been infringed.</li>
                  <li>A description of where the material you claim is infringing is located on our website.</li>
                  <li>Your contact information, including your name, address, phone number, and email address.</li>
                  <li>A statement that you have a good faith belief that the use of the material is not authorized by the copyright owner, its agent, or the law.</li>
                  <li>A statement, under penalty of perjury, that the information in your notice is accurate and that you are the copyright owner or authorized to act on behalf of the copyright owner.</li>
                  <li>Your physical or electronic signature.</li>
              </ul>
          
              <p class="text-sm text-slate-700 p-4">Please send your DMCA notice to our designated copyright agent at:</p>
              <ul class="text-sm text-slate-700 p-4">
              
                <li>Email: foreverviralmedia@gmail.com</li>
                <li>Phone: 216-296-7707</li>
                <li>398 W Bagley Rd, Berea OH</li>
            </ul>
              <h2 class="text-sm text-slate-700 p-4">2. Counter-Notification</h2>
              <p class="text-sm text-slate-700 p-4">If you believe that your content was removed or disabled by mistake or misidentification, you may submit a counter-notification to our designated copyright agent. Your counter-notification should include the following:</p>
              <ul class="text-sm text-slate-700 p-4">
                  <li>Your name, address, phone number, and email address.</li>
                  <li>A description of the material that was removed or disabled and the location where it appeared before it was removed or disabled.</li>
                  <li>A statement, under penalty of perjury, that you have a good faith belief that the material was removed or disabled as a result of mistake or misidentification.</li>
                  <li>Your physical or electronic signature.</li>
              </ul>
              <p class="text-sm text-slate-700 p-4">Please note that we may forward the counter-notification to the original complainant. If the complainant does not initiate legal action within 10 business days, we may restore the material in question.</p>
          
              <h2 class="text-sm text-slate-700 p-4">3. Repeat Infringers</h2>
              <p class="text-sm text-slate-700 p-4">Forever Viral Media reserves the right to terminate access to our website or services for users who are repeat infringers of copyright. If we receive multiple notices of alleged infringement from a copyright holder regarding a specific user or account, we may take appropriate action, which may include suspension or termination of the user’s account.</p>
          
              <h2 class="text-sm text-slate-700 p-4">4. Modifications to the DMCA Policy</h2>
              <p class="text-sm text-slate-700 p-4">We may update this DMCA Policy from time to time. When we do, we will post the revised policy on this page with an updated effective date. We encourage you to review this policy periodically to stay informed of any changes.</p>
          
              <h2 class="text-sm text-slate-700 p-4">5. Contact Us</h2>
              <p class="text-sm text-slate-700 p-4">If you have any questions about this DMCA Policy, or if you need to contact us regarding a DMCA-related issue, please use the contact information provided below.</p>
              <ul class="text-sm text-slate-700 p-4">
              
                <li>Email: foreverviralmedia@gmail.com</li>
                <li>Phone: 216-296-7707</li>
                <li>398 W Bagley Rd, Berea OH</li>
            </ul>

            </Fragment>
        <p>
            
        </p>

    </div>
  </Container>
</Layout>