---
import Contactform from "@components/contactform.astro";
import Container from "@components/container.astro";
import Sectionhead from "@components/sectionhead.astro";
import Layout from "@layouts/Layout.astro";
import { Icon } from "astro-icon/components";
---
<Layout title="Refund Policy">
  <Container>
    <div class="">
        <Sectionhead>
            <Fragment slot="title">Refund Policy</Fragment>
            <Fragment slot="desc">Updated February 2, 2025

              <h2>Forever Viral Media does offer refund guarentees for only the "growth" package.</h2>
              In order to qualify for a refund, you must meet the following criteria:
              <ul>
                  <li>Have purchased the "growth" package</li>
                  <li>Have followed all instructions provided by Forever Viral Media</li>
                  <li>Have not violated any of the terms of service</li>
                  <li>Have not received a "violation" from our product team.</li>
                  <li>Have not requested a refund outside of the 30 day grace period.</li>
                  <li>Have not received any labor from our team: Meetings, video sessions, editing sessions etc"</li>
                  <li> Have not received any posted videos from our team.</li>
              </ul>
              <h2>Refund Policy</h2>
              <p>
                Refuns are NOT available to any other package other than the "growth" package. If you have purchased the "growth" package and meet the criteria above, you may be eligible for a refund.
              </p>

              <h2>Violation Policy</h2>
              <p class="text-sm text-slate-700 p-4">If you commit any of the following actions, you will be issued a "violation" from our product team. This violation will result in an account flag and you will not be eligible for a refund.</p>
              <ul class="text-sm text-slate-700 p-4">
                  <li>Use of our services for any illegal or unauthorized purpose.</li>
                  <li>Any action that results in our videographers not being able to record videos in a timely manner.</li>
                  <li>Missing a meeting with your account manager.</li>
                  <li>Copy, modify, or use any intellectual property without permission.</li>
                  <li> Rescheduling a meeting with your account manager outside the grace period of 24 hours.</li>
              </ul>
              <h2>Refund Process</h2>
              <p class="text-sm text-slate-700 p-4">If you believe you qualify for a refund, please contact our support team at>
                <ul class="text-sm text-slate-700 p-4">
              
                  <li>Email: foreverviralmedia@gmail.com</li>
                  <li>Phone: 216-296-7707</li>
                  <li>398 W Bagley Rd, Berea OH</li>
              </ul>
              <p class="text-sm text-slate-700 p-4">Our team will review your request and determine if you meet the criteria for a refund. If approved, you will receive a refund within 7-10 business days.</p>
              <h2>Refund Amount</h2>
              <p class="text-sm text-slate-700 p-4">The refund amount will be equal to the value paid for the growth package, minus any labor costs, minus any fees incurred while capturing you as a client.</p>
              <h2 class ="text-lg text-slate-700 p-4">IF YOU DO NOT CONTACT THE SUPPORT TEAM FIRST AND DIRECTLY FILE A REFUND REQUEST WITH YOUR METHOD OF PAYMENT YOU ARE HEREBY RELINQUISHING YOUR RIGHT TO A REFUND. THIS PAGE WILL BE SUBMITTED TO YOUR PAYMENT PROCCESSOR IN THE CASE A DISPUTE HAPPENS. SIGNING UP WITH OUR SERVICE MEANS YOU ARE ACKNOWLEDGING THAT YOU ARE FULLY AWARE OF THIS WARNING. OUR TEAM WILL REMIND YOU OF THIS WARNING AT SIGNUP, AND SEVERAL TIMES WITHIN YOUR TERM LENGTH IF ISSUES ARISE.</h2>

            </Fragment>
        <p>
            
        </p>

    </div>
  </Container>
</Layout>