---
import { getCollection } from "astro:content";
import { Picture } from "astro:assets";
import Layout from "@layouts/Layout.astro";
import Container from "@components/container.astro";
import Sectionhead from "@components/sectionhead.astro";
import Moe from "@assets/testimonial/moeayyad.png"
import Arlayout from "@layouts/Arlayout.astro";
// Filter team entries with 'draft: false' & date before current date
const publishedTeamMembers = await getCollection("team", ({ data }) => {
  return !data.draft && data.publishDate < new Date();
});
---

<Arlayout title="About">
  <Container>
   

    <div class="flex flex-col gap-3 mx-auto max-w-4xl mt-16">
    
      
      <h2 class="font-bold text-4xl text-gray-800 flex justify-center" >
        قيمنا الأساسية
      </h2>
      <h2 class="pt-10 font-bold text-3xl text-gray-800 flex justify-center" >
        النمو القائم على الابتكار
      </h2>
      <p class="text-sm text-gray-800 flex justify-center" >
        نحن نتبنى استراتيجيات وتقنيات متطورة لمساعدة العلامات التجارية على البقاء في الصدارة في المشهد الرقمي السريع والمتطور.
      </p>
       <h2 class="pt-10 font-bold text-3xl text-gray-800 flex justify-center" >
        التميز المرتكز على العملاء
      </h2>
      <p class="text-sm text-gray-800 flex justify-center" >
        نجاح عملائنا هو أولويتنا. نحن ملتزمون بتقديم حلول مصممة خصيصًا تتجاوز التوقعات.      </p>
      <h2 class="pt-10 font-bold text-3xl text-gray-800 flex justify-center" >
        الثقة والأمانة
      </h2>
      <p class="text-sm text-gray-800 flex justify-center" >
        نحن نعمل بشكل احترافي، ونبني الثقة من خلال التواصل المباشر والممارسات الأخلاقية.
      </p>
      <h2 class="pt-10 font-bold text-3xl text-gray-800 flex justify-center" >
        التعاون والعمل الجماعي
      </h2>
      <p class="text-sm text-gray-800 flex justify-center" >
        نحن نقدر قوة وجهات النظر المتنوعة، والعمل مع العملاء وداخل فريقنا لتحقيق أفضل النتائج      </p>
      <h2 class="pt-10 font-bold text-3xl text-gray-800 flex justify-center" >
        المرونة والقدرة على الاستمرار      </h2>
      <p class="text-sm text-gray-800 flex justify-center" >
        في عالم سريع التغير، نحرص على أن نتمتع بالمرونة والنشاط، مما يضمن استعدادنا دائمًا للتحديات والفرص الجديدة.
      </p>
      <h3 class="pt-12 text-lg font-semibold text-slate-500">
        تمكين العالم من أن يكون منتشر إلى الأبد.      </h3>
    
      <p class="text-lg leading-relaxed text-slate-500">
        نحن على أعلى مستوى في مجال التسويق الرقمي، حيث نقوم بإنشاء وإدارة المحتوى الذي يجذب الانتباه ويحفز المشاركة. مع أكثر من أربع سنوات من الخبرة في الصناعة، قمنا بتوليد أكثر من 2 مليار مشاهدة عضوية، مما عزز سمعتنا كشركة متفوقة في صياغة قصص النجاح. يجمع نهجنا بين المؤثرين والشركات للحصول على أفضل النتائج. نحن نصمم استراتيجيات تحقق نتائج استثنائية للجميع. نحن نفخر بتنوعنا، بعد أن عملنا مع مجموعة واسعة من المجالات - من أسلوب الحياة والأزياء إلى التكنولوجيا واللياقة البدنية والمزيد.      </p>
     
  
    </div>
    <div class="grid md:grid-cols-3 gap-10 mx-auto max-w-4xl mt-12">
      <div>
        
      </div>
      <!-- 
          <div class="group">
            <div class="w-full aspect-square">
              <Picture
                src={Moe}
                alt="Mohammed Ayyad"
                sizes="(max-width: 800px) 100vw, 400px"
                width={400}
                height={400}
                class="w-full rounded-md rounded transition group-hover:-translate-y-1 group-hover:shadow-xl bg-white object-cover object-center aspect-square"
              />
            </div>

            <div class="mt-4 text-center">
              <h2 class="text-lg text-gray-800">Mohammed Ayyad</h2>
              <h2 class="text-lg text-gray-800">BA Marketing</h2>
           
              <h3 class="text-sm text-slate-500">
                Founder & CEO
              </h3>
            </div>
          </div>
          <div>
            
          </div>
    </div>
    -->
    
  
  </Container>
  
</Arlayout>
