---
import Layout from "@layouts/Layout.astro"
---

<div class="pt-24 mt-16 md:mt-0">
    <h2 class="text-4xl lg:text-5xl font-bold lg:tracking-tight">
      Save money, time & energy.
    </h2>
    <p class="text-lg mt-4 text-slate-600">
      Automation is pivotal to scaling any business. Our in depth proccess allows for your business to benifet from automation, without the knowledge or technical headache.
    </p>
  </div>
    <div class="grid md:grid-cols-3 gap-10 mx-auto max-w-4xl mt-12">
        <div class="bg-orange-100 rounded-lg p-5 text-left shadow-lg">
            <h3 class="text-6xl lg:text-6xl font-bold lg:tracking-tight ">
                31%
            </h3>
            <p class="text-xl lg:text-xl font-bold lg:tracking-tight">
                increase in productivity.
             </p>      
             <p class="text-lg mt-2 text-slate-600">
                Businesses that implement AI automation report a 31% boost in productivity due to time-saving processes.
             </p>  
        </div>   
        <div class="bg-orange-100 rounded-lg p-5 text-left shadow-lg">
            <h3 class="text-6xl lg:text-6xl font-bold lg:tracking-tight">
                72%
            </h3>
            <p class="text-xl lg:text-xl font-bold lg:tracking-tight">
                faster decision-making:
             </p>      
             <p class="text-lg mt-2 text-slate-600">
                AI automation helps businesses make decisions 70% faster, driving quicker growth and innovation.             </p> 
        </div>
        <div class="bg-orange-100 rounded-lg p-5 text-left shadow-lg">
            <h3 class="text-6xl lg:text-6xl font-bold lg:tracking-tight">
                48% operational costs reduction Companies see up to a 48% decrease in operational expenses by automating routine tasks.
            </h3>
            <p class="text-xl lg:text-xl font-bold lg:tracking-tight">
               
             </p>      
             <p class="text-lg mt-2 text-slate-600">
                Companies see up to a 48% decrease in operational expenses by automating routine tasks.
             </p> 
        </div>   
    </div>