---
// @ts-ignore
import { Icon } from "astro-icon/components";
---

<div class="mt-8">
  <h2 class="text-center text-slate-500">Strategic Partnerships That Accelerate Our Growth.</h2>
  <div class="flex gap-8 md:gap-20 items-center justify-center mt-10 flex-wrap">
     
    <Icon class="size-8 md:size-12" name="simple-icons:meta" />
    <Icon class="size-8 md:size-12" name="simple-icons:shopify" />
    <Icon class="size-8 md:size-12" name="simple-icons:tiktok" />
    <Icon class="size-8 md:size-12" name="simple-icons:google" />
    <Icon class="size-8 md:size-16" name="simple-icons:youtube" />

  </div>
</div>
