---
import Link from "./ui/link.astro";
import { Image } from "astro:assets";
import mobilehero from "@assets/mobileimg.png";
---

<div class="block md:hidden">
  <Image src={mobilehero} alt="Forever Viral Media Video Content" class="w-full h-full object-cover rounded-lg" />
</div>


