---
import { onMount } from 'solid-js';
import alinaB from '../assets/testimonial/alinab.png';
import crepEscape from '../assets/clientlogos/crepescape.png';
import { Picture } from 'astro:assets';
import auction from '../assets/clientlogos/auction.png';
import bins from '../assets/clientlogos/bins.png';
import brady from '../assets/clientlogos/brady.png';
import detail from '../assets/clientlogos/detail.png';
import icecream from '../assets/clientlogos/icecream.png';
import speedy from '../assets/clientlogos/speedy.png';
import werks from '../assets/clientlogos/werks.png';


---

<p class="text-sm pb-2 text-center text-slate-800 lg:tracking-tight">
   Our business model isn't traditional. It works.
</p>
<div class="grid grid-cols-3 items-center">
    <div>
        <h3 class="text-5xl text-center font-bold lg:tracking-tight">
            2B+
            </h3>
            <h3 class="text-xl text-center font-bold lg:tracking-tight">
          Video  Impressions
           </h3> 
    </div>
    <div>
        <h3 class="text-5xl text-center font-bold lg:tracking-tight">
        92%
        </h3>
        <h3 class="text-xl text-center font-bold lg:tracking-tight">
       Client Retention
       </h3> 
     
        </div>
    <div>
    <h3 class="text-5xl text-center font-bold lg:tracking-tight">
    15+
    </h3>
    <h3 class="text-xl text-center font-bold lg:tracking-tight">
   Niches Served
   </h3> 
 
    </div>
</div>





  
