---
import { Image } from "astro:assets";
import businesspic from "@assets/businesspic.png";
import pinmap from "@assets/pinmap.png";
import {Picture} from "astro:assets";
import logobatch from "@assets/logobatch.png"; 
import systemshop from "@assets/systemshop.png";
import Link from "./ui/link.astro";
import type { GitPullRequest } from "lucide-react";
---

<h4 class="text-4xl text-center pt-16 font-bold lg:tracking-tight">
  Testimonials 
</h4>
<p class="pt-4 text-center">
  Here's a few words from our past clients. 
</p>

 <div class="pb-6 pt-8">
  <div class="bg-slate-800 text-white rounded-lg p-8 shadow-xl">
    <p class="font-bold text-4xl text-yellow-300 "> Raed G </p>
    <p class="font-semibold text-xl pb-2 pt-2"> Liquidation Business </p>
  <p class="font-semibold">We've used FVM since before they were named FVM, for nearly 3 years now. They've helped us go from 1 to 5  locations. I can't express enough gratitude for their work, I reccomend them to everyone I know. It's so refreshing to work with a company that genuinely cares about our growth, and I can relate to on a personal level.  </p>

  </div>
</div>

<div class="pb-6 pt-8">
  <div class="bg-slate-800 text-white rounded-lg p-8 shadow-xl">
    <p class="font-bold text-4xl text-yellow-300 "> Maria S </p>
    <p class="font-semibold text-xl pb-2 pt-2"> Cleaning Service </p>
  <p class="font-semibold"> When I first started with FVM, I thought I was doing well. I started my business on a whim and made a stable income from it. Things changed fast when I started working with FVM. I couldnt dream of getting this far without FVM. They helped me scale from just myself to 3 working vans, several employees, and more business than I can keep up with. </p>

  </div>
</div>


<div class="pb-6 pt-8">
  <div class="bg-slate-800 text-white rounded-lg p-8 shadow-xl">
    <p class="font-bold text-4xl text-yellow-300 "> Sahil P </p>
    <p class="font-semibold text-xl pb-2 pt-2"> Resturant Business </p>
  <p class="font-semibold"> I really wanted to grow my families business, and i worked tirelessy to do so. I realized eventually I needed help and a friend reccomended me FVM. It has been such a roller coaster honestly. We just opened our 4th location after almost closing our doors a few years ago. They just know the right levers to pull. Having FVM for me was like having a map to the ocean after being stuck in the Dessert. </p>

  </div>
</div>
<div class="pb-6 pt-8">
  <div class="bg-slate-800 text-white rounded-lg p-8 shadow-xl">
    <p class="font-bold text-4xl text-yellow-300 "> Isam W </p>
    <p class="font-semibold text-xl pb-2 pt-2"> Car Dealerships </p>
  <p class="font-semibold"> I tried to work with agencies in the past but alot of them told me I would never grow because of my religous beliefs I refused to add financing options to my dealership. FVM understood my problem completely. They never urged me to do things that would interfere with my beliefs and helped me grow anyways. Such an awesome team to work with.</p>

  </div>
</div>




<div class="pb-16">
    <Link
    href="/contact"
   
    target="_blank"
    class="flex gap-1 font-bold items-center justify-center "
    rel="noopener">
    <svg xmlns="http://www.w3.org/2000/svg" width="1em" height="1em" viewBox="0 0 24 24"><path fill="currentColor" d="M17 22v-3h-3v-2h3v-3h2v3h3v2h-3v3zM3 20V4h3V2h2v2h6V2h2v2h3v8.1q-.5-.075-1-.075t-1 .075V10H5v8h7q0 .5.075 1t.275 1z"></path></svg>

     Talk to a Representative
  </Link>
</div>